<%= simple_form_for @movie, html:{multipart: true} do |f| %>
<% if @movie.errors.any? %>
	<div id="errors">
		<p><%=@movie.errors.count %>
			Algo esta impidiendo que guardes tu película :(
			<ul>
				<%= @movie.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
				<%end%>
			</ul>
		</p>
	</div>
<%end%>

<div class="panel-body">
	<%= f.input :cover,label:"Imagen de portada:",class:'form-control' %>
	<h4>*Título:</h4>
	<%= f.text_field :title,placeholder:"Escríbe el título de la película",size: "30x5",class:'form-control' %>
	<h4>*Sinopsis:</h4>
 	<%= f.text_area :description,placeholder:"Escríbe la sinopsis de la película", size: "30x10",class:'form-control sinopsis-area' %>
 	<%= f.button :submit,"Guardar pelicula",class:"btn btn-primary"%>
</div>	
<% end %>