<%= simple_form_for @movie, html:{multipart: true} do |f| %>
<% if @movie.errors.any? %>
	<div id="errors">
		<p><%=@movie.errors.count %>
			Algo esta impidiendo que guardes tu película :(
			<ul>
				<%= @movie.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
				<%end%>
			</ul>
		</p>
	</div>
<%end%>

<div class="panel-body">
	<%= f.input :cover,label:"Imagen de portada:",class:'form-control' %>
	<%= f.input :title,label:"Pelicula:",placeholder:"Escríbe el título de la película",class:'form-control' %>
 	<%= f.input :description,label:"Sinopsis:",placeholder:"Escríbe la sinopsis de la película", class:'form-control' %>
 	<div class="row">
 		<div class="col-md-6">
 			<h3>Enlaces descarga</h3>
 			<div id="descargas">
 				<%= f.simple_fields_for :descargas do |descarga|%>
 				<%= render 'descarga_fields', f: descarga%>
 				<div class="links">
 					<%= link_to_add_association 'Añadir enlace',f,:descargas,class:"btn btn-default add-button"%>
 				</div>
 				<%end%>
 			</div>
 		</div>
 		<div class="col-md-6">
 			<h3>Enlaces ver online</h3>
 			<div id="onlines">
 				<%= f.simple_fields_for :onlines do |online|%>
 				<%= render 'online_fields', f: online%>
 				<div class="links">
 					<%= link_to_add_association 'Añadir enlace',f,:onlines,class:"btn btn-default add-button"%>
 				</div>
 				<%end%>
 			</div>
 		</div>
 	</div>
 	<%= f.button :submit,"Guardar pelicula",class:"btn btn-primary"%>
</div>	
<% end %>